:root {
	--white-color: #fff;
	--black-color: #000;
	--dark-color: #1c2e3d;
	--accent-color: #e8594e;
	--accent-hover: #e31d0e;
	--neptune-color: #73afba;
	--neptune-hover: #4196a6;
	--slate-gray-color: #788692;

}
